{% extends 'siteapp/layout.html' %}
{% block middle %}
    
    
    <nav>
        <span  >
        <p style="font-weight: bold; font-size: 50px; margin-top: 50px; margin-left:40px; ">Unlock
            Your Career</p>
            </span>
        <span style="width: 10px;">
        <p style="margin-left:50px;width: 450px;">Explore opportunities from across the globe to learn, showcase skills, gain CV points & get hired by your dream company.</p>
    </span>
    </nav>
    <main>
        <img src="/static/images/girl.webp" alt="">
        
    </main>
    
{% endblock %}
