{% extends 'siteapp/layout.html' %}
{% block middle %}
    
    
    <nav>
        <span  >
        <p style="font-weight: bold; font-size: 50px; margin-top: 90px; margin-left:60px; color:rgb(158, 111, 240) ">Unlock
            Ambition</p>
            </span>
        <span style="width: 10px;">
        <p style="margin-left:60px;width: 450px;">Apply to a plethora of hiring opportunities & work with your dream companies!</p>
    </span>
    </nav>
    <main>
        <img src="/static/images/mentor.webp" alt="" height="550">
        
    </main>
    
{% endblock %}
