<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- <style>
        
    </style> -->
</head>

<body>
    <div class="body">
        <div class="header">
            <header>
                <span style="margin: 30px;">
                    <img src="/static/images/logo.svg" height="80" width="80" />
                </span>
                <span>
                     <input type="search" name="serach" id="" >
                </span>
                <span>
                    <nav>


                        <ul>

                            <li>
                                <a href="/siteapp">Home</a>
                            </li>
                            <li>
                                <a href="/siteapp/learn">learn</a>
                            </li>
                            <li>
                                <a href="/siteapp/login">login</a>
                            </li>
                            <li>
                                <a href="">Our Services</a>
                            </li>
                            <li>
                                <a href="">Gallery</a>
                            </li>
                        </ul>

                    </nav>
                </span>
            </header>
        </div>
        <div class="section">
            <section>
                {% block middle %}


                {% endblock %}

            </section>
        </div>
        <div class="footer">
            <footer>
                <div>
                    <div class="left-panel">
                        <div>
                       
                        <div class="title">ABOUT</div>
                        <div>contact</div>
                        <div>about us</div>
                        <div> carrer</div>
                        
                        <div>press</div>
                        <div>corporate information</div>
                    </div>
            
                    
                   
                    <div>
                        <div class="title">HELP</div>
                        <div>
                        <div>contact us</div>
                        <div>about us</div>
                        <div>careers</div>
                    </div>
                    
                    <div>
                        <div class="title">POLICY </div>
                        <div>
                        <div> contact us</div>
                        <div>about us</div>
                    
                    </div>
                    <div>
                         <div class="title">SOCIAL</div>
                        
                        <div>contact us</div>
                        <div>about us</div>
                        <div>carrers</div>
                    </div> 
                   </div>
                   </div>
                   <div>
                        <div class="right-panel">
                            <div>
            
                                <div class="title"> Mail us:</div>
                                <div>info@.in</div>
                            </div>
                            
                        
                        <div>
                            <div class="title"> registered offic address:</div>
                            <div>
            
                           internet pvt ltd,
            
                            building alvssa
            
                            outer road
            
                         
            
                            bengluru,560103,
            
                            telephone:044-45612700
                           </div>
                        
                        </div>
            
                    </div>

            </footer>
        </div>
    </div>
</body>

</html>