{% extends 'siteapp/layout.html' %}
{% block middle %}
<nav>
    <span style="font-size: 50px ;color:rgb(32, 32, 217); margin-left:40px;">Unlock</span>
    <span style="font-size: 50px ; color:rgb(12, 2, 2)">Knowledge</span>
    <span style="width: 10px;">
    <p style="margin-left:50px;width: 450px;">Explore opportunities from across the globe to learn, showcase skills, gain CV points & get hired by your dream company.</p>
</span>
</nav>
<main>
    <img src="/static/images/boy.webp" alt="" height="550px">
    
</main>

    
{% endblock %}
